link(href="https://fonts.googleapis.com/css?family=Fauna+One|Oleo+Script|Fugaz+One|Monda|Unica+One|Alegreya:400italic,400|Abril+Fatface|Vollkorn" rel="stylesheet" type="text/css")
link(href="https://fonts.googleapis.com/css?family=Questrial|Old+Standard+TT:400,400italic,700" rel="stylesheet" type="text/css")
title Foundry Matrix Blog
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
link(rel='stylesheet' href='/styling/main.css')